/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #fdeaf2;
    color: rgb(255, 100, 150);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Contenedor del formulario */
  .form-container {
    background-color: #fbd5e5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  /* Título */
  .form-container h1 {
    text-align: center;
    color: rgb(255, 100, 150);
    margin-bottom: 20px;
  }
  
  /* Grupo de formularios */
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(255, 100, 150);
  }
  
  .form-group input,
  .form-group textarea,
  .form-group select {
    width: 95%;
    padding: 10px;
    border: 2px solid #f7bfd8;
    border-radius: 5px;
    background-color: #fff;
  }
  
  /* Estilo para textarea */
  .form-group textarea {
    resize: none;
  }
  
  /* Botón */
  .btn {
    width: 100%;
    background-color: rgb(255, 100, 150);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: rgb(255, 60, 150);
  }
  